.Calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 4rem repeat(5, 1fr);
  border: 1px solid #000;
  height: 70%;
  width: 100%;
  margin: 10rem;
  background-color: #f0efef;
  box-shadow: 14px 22px 26px #857979;
  border-radius: 0.5rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  &__day {
    background-color: yellowgreen;
  }
}
