.reminder {
  width: 30rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 1.5rem;
  margin: 1rem;

  &__title {
    font-size: 2rem;
    margin: 3rem 0 0 3rem;
    font-weight: bold;
  }
}
